### Verify

The Verify stage, like every stage at GitLab, is aligned to several key performance indicators intended to reflect the business priorities for the team. These can be found for each of the Verify groups on our [Ops section performance indicators page](https://about.gitlab.com/handbook/product/ops-section-performance-indicators/#regular-performance-indicators), and most of what we prioritize in each release is intended to move these metrics forward.

Apart from driving these performance indicators forward, there are a few cross-category or cross-group goals that we're looking at:

1. Be the tool of choice for groups that want to reduce their lead time for changes to under an hour. Part of how we will achieve this is by taking [CI/CD analytics](https://gitlab.com/groups/gitlab-org/-/epics/358) to the next level.
1. [Make ML/AI workflows easier](https://gitlab.com/groups/gitlab-org/-/epics/2436), including features like [adding the ability to install industry leading applications like Kubeflow](https://gitlab.com/gitlab-org/gitlab/issues/197424) to your Kubernetes clusters.

#### Verify Stage Categories
<%= partial("direction/categories-content", :locals => { :stageKey => "verify" }) %>

#### Pricing
<%= partial("direction/ops/tiering/verify") %>
