!!! 5
%html{lang: "en"}
  %head
    - current_page.data.description = "Compare #{data.features.devops_tools[key_one].name} vs. GitLab"
    = partial "includes/layout/head"
    - if content.css
      = stylesheet_link_tag content.css
  %body{class: "#{page_classes} #{'purple-bg' if current_page.data.purple_bg}", data: {spy: "scroll", target: ".qnav"}}
    .page-wrap
      = partial "includes/google/gtm"
      = partial "includes/layout/header"
      = partial "includes/layout/headline"

      = yield_content(:comparison_header)

      .comparison-container
        = yield_content(:page_title)

        = yield_content(:page_content)

      .footer-container
        = partial "includes/layout/footer"
