//
// Utility classes start with `u-` and are used to apply basic, self-contained
// styling to markup.
//
@import "mixins/ie10-and-up";

// Spacing helpers - Define standard spacing elements
@each $scale, $size in (0: 0, xs: $spacing-unit-xs, sm: $spacing-unit-sm, md: $spacing-unit-md, lg: $spacing-unit-lg, xl: $spacing-unit-xl) {
  @each $side in (top, right, bottom, left) {
    @each $property in (margin, padding) {
      %u-#{$property}-#{$side}-#{$scale},
      .u-#{$property}-#{$side}-#{$scale} {
        #{$property}-#{$side}: ($size / 2);

        @media (min-width: $screen-md-min) {
          #{$property}-#{$side}: $size;
        }
      }

      .u-#{$property}-#{$side}-#{$scale}-const {
        #{$property}-#{$side}: $size;
      }

      .u-#{$property}-#{$side}-#{$scale}-if-md {
        @media (max-width: $screen-md-max) {
          #{$property}-#{$side}: $size;
        }
      }

      .u-#{$property}-#{$side}-#{$scale}-if-sm {
        @media (max-width: $screen-sm-max) {
          #{$property}-#{$side}: $size;
        }
      }

      .u-#{$property}-#{$side}-#{$scale}-if-xs {
        @media (max-width: $screen-xs-max) {
          #{$property}-#{$side}: $size;
        }
      }
    }
  }
}

// Break out of container and go fill width on page.
// May cause horizontal scrollbars if parent or ancestor does not specify
// `overflow-x: hidden`
%u-release,
.u-release {
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

.u-image-bg {
  background-position: 50% 50%;
  background-size: cover;
}

// Make columns only 20px apart, not 30px apart
%u-close-columns,
.u-close-columns {
  $lt-half-gutter: ($grid-gutter-width-close / 2);
  margin-left: (0 - $lt-half-gutter);
  margin-right: (0 - $lt-half-gutter);

  > [class^="col"] {
    padding-left: $lt-half-gutter;
    padding-right: $lt-half-gutter;
  }
}

.u-placeholder {
  border: 2px solid $color-accent;
}

.u-hide-overflow-x {
  overflow-x: hidden;
}

.u-hide-overflow {
  overflow: hidden;
}

.u-subtle-bg {
  background-color: $color-gray-extra-light-alt;
}

.u-brand-gradient-bg {
  $lt-bg-color: #6b4fb9;
  $lt-gradient-start-color: rgba(54, 33, 92, .25);
  $lt-gradient-end-color: rgba(113, 92, 171, .25);
  background-color: $lt-bg-color;
  background-image: linear-gradient(180deg, $lt-gradient-start-color, $lt-gradient-end-color);
}

.u-text-light {
  color: $color-white;
}

.u-text-brand {
  color: $color-primary;
}

.u-flex {
  display: flex;

  @include ie10-and-up {
    > * {
      max-width: 100%;
    }
  }
}

.u-flex-wrap {
  flex-wrap: wrap;
}

@each $size, $max-width in (md: $screen-md-max, sm: $screen-sm-max, xs: $screen-xs-max) {
  .u-flex-wrap-if-#{$size} {
    @media (max-width: $max-width) {
      flex-wrap: wrap;
    }
  }
}

.u-horiz-center {
  justify-content: center;
}

.u-vert-center {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  &.u-horiz-center {
    align-items: center;
  }
}

.u-rounded {
  border-radius: 50%;
}

.screen-reader-text {
  // based on WordPress a11y team
  // see: https://make.wordpress.org/accessibility/handbook/markup/the-css-class-screen-reader-text/
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  //sass-lint:disable no-important
  word-wrap: normal !important;

  &:focus {
    background-color: #eee;
    //sass-lint:disable no-important
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
  }
}