@import "variables";

.blank-header {
  display: block;
  margin: 0 auto;
}

.blank-header:before {
  background: rgba(22,22,22,.8);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.hero-image {
  height: 100px;
  margin-bottom: 30px;
}

.header-content {
  margin: 0 auto;
  position: relative;
  z-index: 11;
}

.header-content p {
  margin-top: 20px;
}

// sass-lint:disable no-important
.blank-header .alert-gitlab-purple {
  background: transparent;
  border-color: transparent;
  color: #ffffff !important;
  margin: 20px auto 0px auto;
  position: relative;
}

.gitlab-content-container .video-intro-copy {
  font-size: 24px;
  line-height: 1.5em;
  margin-top: 1.3em;
}
