---
title: GitLab Migration+ Package
suppress_header: true
description: "The GitLab Migration+ package enables most companies to migrate their data from previous source code management systems and train their users and adminstrators with GitLab fundamentals."
canonical_path: "/services/migration/migration-plus/"
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      Migration+
    %h3.headline-subtitle
      Accelerate the journey to GitLab. Maximize developer productivity. 

.services-inner
  .page-container.container
    %ol.breadcrumb
      %li 
      = breadcrumbs(current_page)
    .row
      .col-md-10.col-md-offset-1.tile
        %h1 Summary
        %p.service-para
        Migration of users and version-controlled source code data to GitLab is just the beginning! To maximize the investment your company is making in GitLab, you should consider investing in education services to maximize developer productivity. Without it, developers could face sub-optimal ramping up to new tools and processes. Migration+ packages our most requested type of migration service and our most popular education services.

        %h1 Who is this service for?
        %p.service-para
        %ul
          %li Customers who are migrating from a single instance of GitHub Enterprise, GitHub.com, Bitbucket Server, Bitbucket Cloud or from GitLab Self-Managed.
          %li Customers who have up to 500 users.
          %li Customers who have up to 1,000 repositories.

        %h1 What's included?
        %p.service-para
        %ul
          %li Migration of source code data for up to 500 users and 1,000 repositories.
          %li One delivery of GitLab & Git Basics training
          %li One delivery of GitLab CI/CD training
          %li One delivery of GitLab System Administration OR GitLab Project Management training

        <strong>Fill out the Form below to learn more!</strong>
= partial "includes/services-contact-form"
