.row.u-margin-top-sm
  %h4.text-center
    %a{ href: "https://www.eventbrite.com/e/gitlab-commit-2019-london-tickets-63010280445" } <b>October 9, 2019 | Get Tickets</b>
  %p Down a cobblestone drive in the heart of the City of London is The Brewery, where your journey begins. For one day only, this 18th-century brewery plays host to leaders and innovators who will share their own voyages of automation, exploration, and transformation. Share and gain insights to increase velocity and shape the future of development. Then wrap it all up with a mini-golf party in the moonlight. Jolly good stuff!